{% extends 'layouts/base.html.twig' %}

{% block title 'Find all best pins on earth!' %}

{% block body %}
    <h1 class="">{{ pluralize(pins|length, 'pin', 'pins') }}</h1>

    {% for pin in pins %}
        <article>
            <h2><a href="{{ path('app_pins_show', {id: pin.id}) }}" class="">{{ pin.titre }}</a></h2>
            <p>{{ pin.description|u.truncate(10) }}</p>
            <p class="">Submitted {{ pin.createdAt|ago }}</p>
        </article>
    {% endfor %}
{% endblock %}
